mixin article-desc(info, title)
    .professianals-content-info #{info}
        .professianals-content-title
            h2.section-title #{title}
        .professianals-content-desc
            block