.design-tools-row 
    h2.section-title We design tools to unveil your superpowers

    .tools-card-bg
        .container
            .tools-card-row
                +tools-card("First click tests", "icon01.png")
                    p While most people enjoy casino gambling.

                +tools-card("Design surveys", "icon02.png")
                    p Sports betting, lottery and bingo playing for the fun.

                +tools-card("Preference tests", "icon03.png")
                    p The Myspace page defines the individual.

                +tools-card("Five second tests", "icon04.png")
                    p Personal choices and the overall personality of the person. 

            .design-tools-button
                a(href="#!").button Sign up now
