.container
    .footer-row
        a(href="#!").logo 
            img(src="./img/logo.png", alt="Logo").logo-img

        .footer-info
            .footer-links
                a(href="#!") Disclaimer
                a(href="#!") Financing
                a(href="#!") Privacy Policy
                a(href="#!") Terms of Service
            form(action="").footer-form
                .form-field
                    input(type="phone" name="phone" placeholder="Enter your phone Number")
                .form-btn
                    button(type="submit").button Sign up Now




