.header-row
    .header-contant
        h1.header-title The Design Thinking superpowers
        .header-desc 
            p Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to imagine your next user experience.
        .header-links
            a(href="#!").button Get started
            a(href="#!")
                .watch-link
                    .watch-img 
                        img(src="./img/watch-img.png", alt="play")
                    .watch-desc Watch the Video
    .header-img
        img(src="./img/header-image.png", alt="header image")