.section-managers
    .container
        .managers-row

            .managers-img
                img(src="./img/managers-image.jpg", alt="image")

            .managers-content

                +article-desc("Easier decision making for", "Product Managers")
                    p The Myspace page defines the individual, his or her characteristics, traits, personal choices and the overall personality of the person.

                ul.managers-content-list
                    li.managers-list-item Never worry about overpaying for your energy again.
                    li.managers-list-item We will only switch you to energy companies that we trust and will treat you right.
                    li.managers-list-item We track the markets daily and know where the savings are.
