.section-marketers
    .container
        .professianals-row
            .professianals-content

                +article-desc("Optimisation for", "Marketers")
                    p Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior.

                ul.professianals-content-list
                    +acticle-list-item("Accessory makers")
                        p While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun
                    +acticle-list-item("Alterationists")
                        p If you are looking for a new way to promote your business that won’t cost you more money
                    +acticle-list-item("Custom Design designers")
                        p If you are looking for a new way to promote your business that won’t cost you more money

            .professianals-img
                img(src="./img/marketers-image.jpg", alt="image")
