.marketing-strategies
    .container
        .marketing-strategies-row
            h2.section-title Marketing Strategies
            p Join 40,000+ other marketers and get proven strategies on email marketing 

            .strategies-card-row

                +strategies-card("strategies-card01.jpg", "Increasing Prosperity With Positive Thinking")
                    p By <a href="#!">Abdullah</a> |  03 March 2019

                +strategies-card("strategies-card02.jpg", "Motivation Is The First Step To Success")
                    p By <a href="#!">Abdullah</a> |  03 March 2019

                +strategies-card("strategies-card03.jpg", "Success Steps For Your Personal Or Business Life")
                    p By <a href="#!">Abdullah</a> |  03 March 2019

                +strategies-card("strategies-card02.jpg", "Motivation Is The First Step To Success")
                    p By <a href="#!">Abdullah</a> |  03 March 2019

                +strategies-card("strategies-card03.jpg", "Success Steps For Your Personal Or Business Life")
                    p By <a href="#!">Abdullah</a> |  03 March 2019

                +strategies-card("strategies-card01.jpg", "Increasing Prosperity With Positive Thinking")
                    p By <a href="#!">Abdullah</a> |  03 March 2019

                +strategies-card("strategies-card03.jpg", "Success Steps For Your Personal Or Business Life")
                    p By <a href="#!">Abdullah</a> |  03 March 2019

                +strategies-card("strategies-card01.jpg", "Increasing Prosperity With Positive Thinking")
                    p By <a href="#!">Abdullah</a> |  03 March 2019

                +strategies-card("strategies-card02.jpg", "Motivation Is The First Step To Success")
                    p By <a href="#!">Abdullah</a> |  03 March 2019
