.nav-row

    a(href="#!").logo 
        img(src="./img/logo.png", alt="Logo").logo-img

    nav.header__nav
        ul.header__nav-list
            li.header__nav-item
                a(href="#!") Product
            li.header__nav-item
                a(href="#!") Customers
            li.header__nav-item
                a(href="#!") Pricng
            li.header__nav-item
                a(href="#!") Resources

    .user-nav
        .user-nav-buttons
            a(href="#!").button.button-light Sign In
            a(href="#!").button Sign Up