.section-professionals
    .container
        .professianals-row
            .professianals-content

                +article-desc("Effortless Validation for", "Design Professionals")
                    p The Myspace page defines the individual, his or her characteristics, traits, personal choices and the overall personality of the person.

                ul.professianals-content-list
                    +acticle-list-item("Accessory makers")
                        p While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun
                    +acticle-list-item("Alterationists")
                        p If you are looking for a new way to promote your business that won’t cost you more money
                    +acticle-list-item("Custom Design designers")
                        p If you are looking for a new way to promote your business that won’t cost you more money

            .professianals-img
                img(src="./img/professionals-image.jpg", alt="image")
