.section-team
    .container
        .team-inner
            .team-item.team-item-01
                img(src="./img/team01.jpg", alt="name").team-item-foto
                p.team-item-text-right.team-item-bubles-left I can take care of your pitch

            .team-item.team-item-02
                img(src="./img/team02.jpg", alt="name").team-item-foto
                p.team-item-text-left-01.team-item-bubles-right I can design you website

            .team-item.team-item-03
                img(src="./img/team03.jpg", alt="name").team-item-foto
                p.team-item-text-left-02.team-item-bubles-right I will define the profile of your users

            .team-item.team-item-04
                img(src="./img/team04.jpg", alt="name").team-item-foto
                p.team-item-text-left-03.team-item-bubles-right I can prototype your app

            .team-item.team-item-05
                img(src="./img/team05.jpg", alt="name").team-item-foto
                p.team-item-text-left-04.team-item-bubles-right I can help marketing strategy
            
            .team-box
                h2.section-title Need a super hero?
                .team-box-text
                    p Do you require some help for your project: Conception workshop, prototyping, marketing strategy, landing page, Ux/UI?
                a(href="#!").button Contact our expert
